.header {
    width: 1128px;
    height: 109px;
    gap: 16px;
    border-bottom: 1px solid var(--gray-lightest);
    padding: 24px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pageHeader {
    width: 1064px;
    height: 45px;
    gap: 256px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    color: var(--black);
}

.userActions {
    display: flex;
    align-items: center;
    gap: 16px;
}