.greeting {
  width: 311px;
  padding: 0 32px;
  display: flex;
}

.text {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.01em;
}

@media(min-width: 768px) {
.greeting {
  width: 704px;
}
}

@media(min-width: 1440px) {
.greeting {
  width: 1064px;
}

.text {
  font-size: 32px;
}

}