.container {
  display: flex;
  flex-direction: row;
  /* z-index: 1000; */
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding-block: 8px 0px;
  padding-inline: 0px;
  justify-content: space-between;
  width: 312px;
  height: 100vh;
  padding-left: 16px;
  padding-right: 16px;
  /* background: var(--background); */
  /* z-index: 1555; */
}

.sidebar .li {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  padding: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  transition: transform;
}

.sidebar .li:hover {
  background-color: #fff4f6;
}

@media screen and (min-width: 768px) {
  .sidebar .li {
    font-size: 16px;
  }
}

/* @media screen and (min-width: 1200px) { */
/* .sidebar {
    width: 300px;
  } */
/* } */
