.card {
  position: relative;
  padding: 24px;
  height: fit-content;
  border-radius: 32px;
  background-color: var(--pastel-pink-lighter);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.newTask {
  padding: 0;
  border-radius: 50%;
  border: 3px solid black;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: transform 0.2s;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.listItem {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.date {
  min-width: 100%;
  padding-left: 26px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  line-height: 160%;
  color: var(--gray);
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 4px;
  width: 18px;
  height: 18px;
  background-color: var(--gray-lighter);
  position: relative;
}
.checkbox:hover {
  background-color: var(--gray);
}

.checkbox:checked {
  background-color: black;
  color: white;
}
.checkbox:checked::after {
  content: "✓";
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.text {
  padding-left: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
}

.done {
  text-decoration: line-through;
  color: var(--black);
}

.empty {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: var(--black);
  margin-bottom: 16px;
}

.btn {
  display: block;
  text-align: center;
  background-color: var(--pastel-pink-light);
  border-bottom: 4px solid var(--pastel-pink-dark);
  border-radius: 100px;
  padding: 6px 24px;
  width: 173px;
  height: 42px;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: var(--pastel-pink-lightest);
}

.unAuthTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
}

.unAuthEmpty {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

@media screen and (min-width: 768px) {
  .listHeader {
    gap: 377px;
  }
  .unAuthTitle {
    font-size: 14px;
  }
  .unAuthEmpty {
    font-size: 14px;
  }
}

@media screen and (min-width: 1128px) {
  .btn {
    width: 191px;
  }
  .card {
    min-height: 499px;
  }
  .listHeader {
    gap: 63px;
  }
  .date {
    font-size: 12px;
  }
}
