.diaryContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 24px 16px;
    background: var(--pastel-pink-lighter);
    border-radius: 16px;
}

.diaryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 16px;
}

.diaryTitle {
    margin: 0;
    color: var(--black);
    font-weight: var(--bold);
    font-size: 18px;
    line-height: 140%;
}


.addButton {
    display: flex;
    border: none;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    background: var(--pastel-pink-lighter);
    flex-direction: row;
    padding: 0px;
}

.addButton:hover {
    opacity: 0.8;
}

.addText {
    /* font-family: var(--font-family); */
    font-weight: var(--medium);
    font-size: 14px;
    line-height: 160%;
    color: var(--black);
    white-space: nowrap;
}

.addIcon {
    display: flex;
    align-items: center;
    justify-content: right;
}
.editIcon {
    fill: var(--black);
    transition: fill 0.2s ease;
    width: 24px;
    height: 24px;
    
}

.entriesList {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    color: var(--gray);
    text-align: center;
}

/* Mobile/Tablet styles */

@media screen and (max-width: 767px) {
    .addText {
        font-size: 14px;
    }

    .addIcon svg {
        width: 20px;
        height: 20px;
    }
}

@media (mmin-width: 1023px) {
    .diaryHeader {
        flex-direction: column;

        gap: 16px;
        align-items: flex-start;
    }

    .addButton {

        justify-content: center;
    }
    

}

