.container {
  display: flex;
  flex-direction: row;
  /* height: 100vh; */
}

.sidebar {
  width: 312px;
  background-color: var(--color-scheme-background);
  color: var(--color-scheme-text);
  padding: 0px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color-scheme-border);
  display: none;
  height: 100vh;
}

@media (min-width: 1128px) {
  .sidebar {
    display: flex;
  }
}

.privateRoutesWrapper {
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 45px;
}

.logoIcon {
  width: 95px;
  height: 29px;
}
