.wrapper {
  display: flex;
  gap: 16px;
  margin: 0 auto;
  width: 334px;
}
.box {
  background-color: var(--pastel-pink-lighter);
  width: 159px;
  border-radius: 32px;
  padding: 10px 16px;
}
.boxTitle {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 4px;
}
.boxText {
  font-family: var(--second-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}
@media (min-width: 768px) {
  .wrapper {
    width: 704px;
    gap: 32px;
    margin-left: 32px;
  }
  .box {
    width: 336px;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    width: 642px;
    justify-content: flex-start;
  }
  .box {
    width: 305px;
  }
  .boxTitle {
    font-size: 16px;
  }
  .boxText {
    font-size: 56px;
  }
  .boxTextNan {
    font-size: 24px;
  }
}
