.homeContainer {
}

.bodyWrapper {
  display: flex;
}

.sideWrapper {
  padding-top: 8px;
  display: none;
  border-right: 1px solid var(--color-scheme-border);
}

@media (min-width: 1128px) {
  .sideWrapper {
    display: flex;
    flex-direction: column;
  }
}

.contentWrapper {
  padding: 32px;
  padding-top: 24px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 45px;
  padding-top: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
}

.logoIcon {
  width: 95px;
  height: 29px;
}
