.card {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  background-color: var(--pastel-pink-lighter);
  border-radius: 32px;
}
.span {
  padding-left: 4px;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgBox {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 2;
  margin-bottom: 16px;
}

.img {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  object-fit: cover;
}

.babyInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .imgBox {
    min-width: 278px;
    max-height: 379px;
  }
  .wrap {
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
}
