.card {
  min-width: 315px;
  background-color: var(--pastel-pink-lighter);
  border-radius: 32px;
  padding: 24px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  margin: 0;
}
.textBlock {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.btn {
  font-family: var(--font-family);
  background-color: var(--pastel-pink-light);
  border-bottom: 4px solid var(--pastel-pink-dark);
  border-radius: 100px;
  padding: 7px 24px;
  width: 225px;
  height: 42px;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: var(--pastel-pink-lightest);
}

@media screen and (min-width: 1440px) {
  .btn {
    width: 250px;
    height: 46px;
  }
}
